<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pinterest - India</title>

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="icon" href="/favicon/pinterest.png">
    <link href="/output.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
  </head>
  <body>
    <% if(nav === true){%>
    <div
      class="fixed top-0 left-0 w-full px-10 py-2 items-center flex justify-between text-white bg-zinc-800"
    >
      <h3>Pinterest</h3>
      <div class="flex gap-10 items-center">
        <a class="hover:text-red-700" href="/profile">Profile</a>
        <a class="hover:text-red-700" href="/feed">Feed</a>

        <a
          class="px-3 py-2 text-white rounded-lg bg-red-700 hover:bg-red-800"
          href="/logout"
          >Logout</a
        >
      </div>
    </div>
    <% } %>
  </body>
</html>
