<%- include ("./partials/header") %>

<div
  class="w-full h-screen bg-[url('https://images.unsplash.com/photo-1682687982046-e5e46906bc6e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] flex items-center justify-center bg-center bg-cover"
>
  <div class="w-[35vw] bg-white px-20 py-10 rounded-[1.8rem]">
    <h1
      class="text-3xl text-center font-semibold text-zinc-700 leading-none tracking-tighter capitalize"
    >
      Welcome to Pinterest
    </h1>

    <% if (message.length > 0) { %>
    <p class="mt-2 mb-2" style="color: red ;text-align: center;"><%= message %></p>
    <% } %>
    <form action="/login" method="post">
      <input
        class="mt-2 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500"
        type="text"
        name="username"
        placeholder="username"
      />
      <input
      class="mt-2 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500"
        type="password"
        name="password"
        placeholder="password"
      />

      <input
        class="hover:bg-red-700 block mt-2 w-full py-3 py-2 bg-red-600 text-white rounded-full"
        type="submit"
        value="Login"
      />
      
    </form>
    <a
      class="hover:text-red-600 inline-block mt-7 text-sm font-semiblod text-zinc-700 text-center w-full"
      href="/register"
      >Don't have an account ?</a
    >
  </div>
</div>

<%- include ("./partials/footer") %>